h1, p {
  margin: 0;
}

.app {
  padding-left: 20px;
}

.insertTask {
  display: flex;
  gap: 20px;
}

.insertTask input {
  border: none;
  border-bottom: solid 1px black;
}

.insertTask button {
  background: #b6b6b6;
  border-radius: 50px;
}

.lists {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.lists .list {
  padding: 15px;
  background: rgb(198, 198, 198);
}

.taskTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 15px;
  margin: 10px auto;
}

.taskTodo button {
  padding: 5px;
}
